button
{
  border: none;
  background-color: #00CC66;
  padding: 8px;
  color: white;
}

button:hover
{
  background-color: #00994C;
}

#textoImagen
{
  float: left;
}

#textoImagen h3
{
  margin-left: 20px;
}

#perfil
{
  margin-left: 150px;
  margin-top: 125px;
}

.mainPedirDar
{
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 120px;
  width: 500px;
  font-family: Arial;
}

.mainPedirDar input
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.mainPedirDar select
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.main
{
  margin-top: 100px;
  margin-left: 240px;
  padding: 0px 10px;
}

.main img
{
  margin-right: 10px;
}

.main h3
{
  margin-bottom: -2px;
}

.main p
{
  font-family: arial;
  margin-top: -10px;
}

.main h1
{
  text-align: center;
  font-family: arial;
}

.columna
{
  float: left;
  position: relative;
  right: -15%;
  margin-left: 20px;
  padding: 10px;
  width: 20%;
  height: 240px;
  background-color: #00CC66;
}

.columna p
{
  text-align: justify;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.columna h3
{
  text-align: center;
  color: white;
  font-family: Arial;
}

.columna a
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  font-family: arial;
  text-align: center;
}

.columna a:hover
{
  color: #00994C;
}

.botonesRedes
{
  margin-left: 49%;
  margin-top: -70px;
}

.otrosBotones
{
  float: left;
  position: relative;
  padding: 10px;
  width: 97px;
  height: 70px;
  background-color: #00CC66;
  top: 60px;
  right: 360px;
}

.otrosBotones img
{
  margin-top: 10px;
  margin-left: 25px;
}

.reseña
{
  height: 100px;
  width: 400px;
  background-color: #F2F2F2;
  border-radius: 10px;
  border-style: solid;
  border-color: #C0C0C0;
  margin-top: 200px;
  margin-left: 100px
}

.reseña p
{
  margin-top: 5px;
  margin-left: 10px;
}

.reseña button
{
  margin-top: 17%;
  float: right;
}

.topbar
{
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 80px;
  background-color: #00CC66;
  top: 0;
  margin-left: 240px;
}

.topbar a
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  font-family: arial;
  text-align: center;
  margin-right: 240px;
}

.topbar a:hover
{
  color: #00994C;
}

.sidebar
{
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00CC66;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar h4
{
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 25px;
  color: white;
  display: block;
  font-family: arial;
}

.sidebar img
{
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: -20px;
}

.sidebar a
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  font-family: arial;
}

.sidebar a:hover
{
  color: #00994C;
}

.footer {
  bottom: 0;
  position: fixed;
  background-color: #E0E0E0;
  margin-left: 240px;
  width: 81%;
  height: 30px;
}

.textoFooter
{
  text-align: center;
  font-family: arial;
  font-size: 10px;
}

.usuario
{
  width: 250px;
  height: 200px;
  background-color: #00CC66;
  float: left;
  margin: 2px;
}

.usuario img
{
  float: left;
  margin-left: 10px;
}

.usuario p
{
  font-family: arial;
  color: white;
  margin-top: 5px;
  margin-bottom: 0;
}

.usuario h5
{
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
  color: white;
  font-family: arial;
}

.usuario button
{
  background-color: #00994C;
  margin-left: 50%;
}

.chat
{
  width: 450px;
  height: 350px;
  float: right;
  margin-top: -150px;
}

.chatBox
{
  border: 2px solid;
  background-color: #CCFF99;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  border-color: #66FF66;
}

.azul
{
  background-color: #99FFFF;
  border-color: #66FFFF;
}

.gris
{
  background-color: #F2F2F2;
  border-color: #C0C0C0;
  margin-bottom: 50px;
}

.chatBox::after
{
  content: "";
  display: block;
  clear: both;
}

.chatBox img
{
  float: left;
  max-width: 80px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.chatBox img.derecha
{
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.tiempoI
{
  float: right;
  color: #999;
  margin-top: 50px;
}

.tiempoD
{
  float: left;
  color: #999;
  margin-top: 50px;
}
