form
{
  background-color: #00CC66;
  position: relative;
  z-index: 1;
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: auto;
  padding-bottom: auto;
}

input[type=text], input[type=password]
{
  width: 95%;
  margin-left: 15px;
  padding: 12px 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

select
{
  margin-left: 15px;
  background-color: white;
  border-style: solid;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type=radio]
{
  margin-left: 15px;
  margin-top: 10px;
}

button
{
  margin-left: auto;
  margin-right: auto;
  font-family: arial;
  color: white;
  padding: 14px 20px;
  margin: 25px;
  border: none;
  background: none;
  margin: auto;
  text-align: center;
}

#fondo
{
  position: fixed;
  top: -50%;
  left: -50%;
  height: 200%;
  width: 200%;
}

#fondo img
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  opacity: 0.5;
  z-index: 0;
}

#datos
{
  margin-top: 15%;
}

#datos b
{
  margin-left: 15px;
  color: white;
  font-family: Arial;
}

.logo
{
  color: white;
  font-family: arial;
  font-size: 40px;
  text-align: center;
}

.derechos
{
  text-align: center;
  color: white;
  font-family: Arial;
  margin-bottom: 20px;
  margin-top: 15%;
}
